.headerSelecao {
    display: flex;
    max-height: 40dvh;
    padding: 2.5rem 10rem 3rem;
    background-color: var(--btecBlue);
    color: var(--white);
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.headerSelecao img {
    margin-left:1rem ;
    max-width: 35%;
    width: 45rem;
}

@media(max-width: 1342px){
    .headerSelecao{
      padding: 2rem 3rem;
    }
  }
  @media (max-width: 767px) {
    .headerSelecao{
      padding: 2rem 2rem;
    }
  }