.sectionParceiros {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 5rem 2.5rem 5rem;
}

.sectionParceiros h2 {
    margin-bottom: 1rem;
}

.sectionParceiros .imagens {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.sectionParceiros .imagens img {
    padding: 0 1.5rem;
    width: 10rem;
}

@media(max-width: 1342px){
    .sectionParceiros{
      padding: 2rem 3rem;
    }
  }
  @media (max-width: 767px) {
    .sectionParceiros{
      padding: 1rem 2rem;
    }
    .sectionParceiros .imagens img {
        padding: 0 1rem;
        width: 30%;
        max-width: 10rem;
        min-width: 6rem;
    }
  }

  @media (max-width: 367px) {
    .sectionParceiros .imagens{
      gap: 2rem;
        flex-direction: column;
    }
    .sectionParceiros .imagens img {
      padding: 0;
      min-width: 8rem;
  }
  }