.pibtecDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: var(--btecDarkBlue);
}
.pibtecDiv .div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 10rem 2.5rem;
}
.pibtecDiv .div1 p{
    margin-top: 1rem;
}

.botoesPib {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.botoesPib .botaoEdital{
    background-color: var(--btecBlue);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.botoesPib .botaoEdital:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 15ms;
  }

.pibtecDiv .div2{
    display: flex;
    flex-direction: column;
    background-color: var(--btecGray);
    padding: 3rem 10rem ;
    
}
.botoesPib .botaoInscricao{
    background-color: var(--btecLaranja);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-left: 2rem;
}

.botoesPib .botaoInscricao:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 15ms;
  }

.imagemPibtec{
    width: 100%;
}