.divSobreMentoria{
    padding: 4.5rem 10rem 1rem;
    background-color: var(--BtecGray);
}

.divSobreMentoria .tituloSobre{
    text-align: center;
}

.divSobreMentoria .pSobre{
    margin-top: 2rem;
}
.divSobreMentoria .divImg{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.divSobreMentoria .etapasMentoria{
    width: 60%;
}

@media(max-width: 1342px){
    .divSobreMentoria {
      padding: 2rem 3rem;
    }
  }
  @media (max-width: 767px) {
    .divSobreMentoria {
      padding: 2rem 2rem;
    }
    .divSobreMentoria .etapasMentoria{
      width: 100%;
  }
  }
  