.divSobreMentoria{
    padding: 4.5rem 10rem 1rem;
}

.divSobreMentoria .tituloSobre{
    text-align: center;
}

.divSobreMentoria .pSobre{
    margin-top: 2rem;
}
.divSobreMentoria .divImg{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.divSobreMentoria .etapasMentoria{
    width: 60%;
}