.headerBtec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  max-height: 40dvh;
  padding: 10rem;
  background-color: var(--btecBlue);
  color: var(--white);
}

.headerBtec .titulo {
  display: flex;
  max-width: 50%;
  text-align: center;
}

.headerBtec img {
  margin-left: 2rem;
  max-width: 40%;
  width: 45rem;
}

@media (max-width: 1895px) {
  .headerBtec .titulo {
    max-width: 55%;
  }
}

@media (max-width: 1644px) {
  .headerBtec img {
    max-width: 43%;
  }
  .headerBtec .titulo {
    max-width: 57%;
  }
}
