.divContainer{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: var(--btecGray);
    padding: 2.5rem 10rem;
}

.divMissao{
    display: flex;
    flex-direction:column;
    width: 30%;
    min-width: 20rem;
}

.num{
    background-image: url("fundoNumero.svg");
    width: 3.39rem;
    height: 2.805rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    color: white;
}

@media (max-width: 1388px) {
    .divContainer{
        padding: 2.5rem 5rem;
    }
}