.divContainer{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
    background-color: var(--btecGray);
    padding: 5%;
    gap: 2%;
}

.divMissao{
    display: flex;
    flex-direction:column;
    width: 25rem;
    
}

.num{
    background-image: url("fundoNumero.svg");
    width: 3.39rem;
    height: 2.805rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    color: white;
}