.sectionArtigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 10rem;
}

.sectionArtigos .artigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 3rem auto 2rem;
  gap: 3rem;
}

.sectionArtigos .artigos .artigoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  height: 18rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.sectionArtigos .artigos .artigoDiv img {
  width: 100%;
  border-radius: 0.5rem;
}

.sectionArtigos .artigos .artigoDiv .divTitulo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionArtigos .botaoVerArtigos {
  background-color: var(--btecBlue);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.sectionArtigos .botaoVerArtigos:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 15ms;
}

.sectionArtigos .artigos .artigoa {
  text-decoration: none;
  color: var(--btecDarkBlue);
}

@media (max-width: 1749px) {
  .sectionArtigos .artigos {
    gap: 2rem;
  }

  .sectionArtigos .artigos .artigoDiv {
    width: 18rem;
    height: 15rem;
    padding: 0.7rem;
  }

  .sectionArtigos .artigos .artigoDiv p {
    font-size: 0.9rem;
  }
}

@media (max-width: 1342px) {
  .sectionArtigos {
    padding: 2rem 3rem;
  }
}

@media (max-width: 767px) {
  .sectionArtigos {
    padding: 2rem;
  }
}

@media (max-width: 671px) {
  .sectionArtigos .artigos .artigoDiv {
    width: 95%;
    max-width: 480px;
    margin: 0 auto;
    height: auto;
  }
  .sectionArtigos .artigos .artigoDiv p {
    padding-top: 0.5rem;
  }
}