.pmbtecDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: var(--btecDarkBlue);
}
.pmbtecDiv .div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 10rem 2.5rem;
}
.pmbtecDiv h2{
    text-align: center;
}

.pmbtecDiv .div1 p{
    margin-top: 1rem;
}

.botoesPm{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.botoesPm .botaoEdital{
    background-color: var(--btecBlue);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.botoesPm .botaoEdital:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 15ms;
  }

.pmbtecDiv .div2{
    display: flex;
    flex-direction: column;
    background-color: var(--btecGray);
    padding: 3rem 10rem ;
    
}
.botoesPm .botaoInscricao{
    background-color: var(--btecLaranja);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-left: 2rem;
}

.botoesPm .botaoInscricao:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 15ms;
  }

.imagemPmbtec{
    width: 90%;
}

@media(max-width: 1342px){
    .pmbtecDiv .div1{
      padding: 2rem 3rem;
    }
    .pmbtecDiv .div2{
        padding: 2rem 3rem;
      }
  }
  @media (max-width: 767px) {
    .pmbtecDiv .div1{
      padding: 2rem 2rem;
    }
    .pmbtecDiv .div2{
        padding: 2rem 2rem;
      }
  }