.foto{
    width: 100%;
    height: 7.5rem;
    margin: 0;
    padding: 0;
}
.itabira{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background-image: url("fotoItabira.png"); */
}

.daIdeia{
    color: white;
    text-align: center;
    background-image: url("fotoItabira.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 1%;
}   