.foto{
    width: 100%;
    height: 7.5rem;
    margin: 0;
    padding: 0;
}
.itabira{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* background-image: url("fotoItabira.png"); */
}

.daIdeia{
    color: white;
    text-align: center;
    background-image: url("fotoItabira.png");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 1%;
    font-size: 3.38rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}   

@media (max-width: 1644px) {
    .daIdeia{
        font-size: 2.6rem;
    } 
}