.programasSection {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 10rem;
  align-items: center;
}
.programasSection h2,.programasSection h3 {
  text-align: center;
}
.programasSection .PIBTec,
.programasSection .PMBTec {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 2.5rem;
  gap: 4rem;
}

.programasSection .PIBTec img,
.programasSection .PMBTec img {
  width: 35rem;
  max-width: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.programasSection .PIBTec .info,
.programasSection .PMBTec .info {
  width: 45rem;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programasSection .PIBTec .info p,
.programasSection .PMBTec .info p {
  margin: 1rem 0;
}

.programasSection button {
  color: var(--white);
  background-color: var(--btecBlue);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.programasSection button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 15ms;
}

@media (max-width: 1625px) {
  .programasSection .PIBTec .info,
  .programasSection .PMBTec .info {
    max-width: 50%;
  }
  .programasSection .PIBTec img,
  .programasSection .PMBTec img {
    height: 24rem;
    object-fit: cover;
  }
}
@media(max-width: 1342px){
  .programasSection{
    padding: 2rem 3rem;
  }
}
@media (max-width: 767px) {
  .programasSection {
    padding: 2 2rem;
  }
  .programasSection .PIBTec img,
  .programasSection .PMBTec img {
    display: none;
  }
  .programasSection .PIBTec .info,
  .programasSection .PMBTec .info {
    max-width: 100%;
  }
}
