/*GERAL*/
.Navegacao nav .SigBTec,
.Navegacao nav .buttonLink {
  background-color: transparent;
  border: solid 0.13rem var(--btecGray);
  border-radius: 2rem;
  color: var(--white);
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.Navegacao nav .SigBTec,
.Navegacao nav .buttonLink:hover {
  background-color: var(--btecLaranja);
  border: solid 0.13rem var(--btecLaranja);
  color: var(--white);
}

/* Menu Desktop */
.Navegacao .Menu-Desktop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  padding: 0.38rem 10rem;
  justify-content: space-between;
  background-color: var(--btecBlue);
  z-index: 7;
}

.Navegacao .Menu-Desktop .logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.Navegacao .Menu-Desktop .logo a {
  display: flex;
}

.Navegacao .Menu-Desktop .logo img {
  width: 6.2rem;
}

.Navegacao .Menu-Desktop .Desktop-Nav {
  display: flex;
  align-items: center;
  height: 100%;

}

.Navegacao .Menu-Desktop .Desktop-Nav ul {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li a.navLink {
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li a {
  margin-right: 2rem;
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li a.navLink:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--btecLaranja);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li a.navLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li .buttonLink {
  margin-right: 0;
}

.Navegacao .Menu-Desktop .Desktop-Nav ul li .buttonLink:hover {
  color: var(--white);
}

/* Menu Mobile */
.Navegacao{
  height: 4.13575rem;
}

.Navegacao .Menu-Mobile .menu-Icon {
  width: 100%;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 0;
  background-color: var(--btecBlue);
}
.Navegacao .Menu-Mobile .menu-Icon .logo a {
  display: flex;
  align-items: center;
}
.Navegacao .Menu-Mobile .menu-Icon .logo img {
  width: 6rem;
  justify-content: center;
  margin-left: 2rem;
  padding: 0.38rem 0;
}

.Navegacao .Menu-Mobile .menu-Icon .mIcon {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.Navegacao .Menu-Mobile .menu-Icon .mIcon #barraMenu {
  display: block;
  width: 1.5rem;
  border-top: 0.2rem solid;
  color: var(--white);
}

#barraMenu::after,
#barraMenu::before {
  content: "";
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.2rem;
  margin-top: 0.25rem;
  transition: 0.3s;
  background-color: currentColor;
}

#Mobile.ativo #barraMenu {
  border-top-color: transparent;
}

#Mobile.ativo #barraMenu::after {
  transform: rotate(-135deg);
  top: -0.45rem;
}

#Mobile.ativo #barraMenu::before {
  transform: rotate(135deg);
}

.Navegacao .Menu-Mobile .area_menu {
  display: flex;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 7;
  justify-content: end;
}

.Navegacao .Menu-Mobile .area_menu #Menu-Open {
  display: none;
  width: 0vw;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--btecBlue);
  overflow: hidden;
}

.Navegacao .Menu-Mobile .area_menu #Menu-Open ul {
  margin: 5rem 0 1.5rem 0;
  padding: 0;
}

.Navegacao .Menu-Mobile .area_menu #Menu-Open ul li {
  margin-top: 1.5rem;
}

.Navegacao .Menu-Mobile .area_menu #Menu-Open ul li a {
  color: var(--white);
}

@media (max-width: 1667px) {
  .Navegacao nav .SigBTec,
  .Navegacao nav .buttonLink {
    padding: 0.3rem 1rem;
  }
  .Navegacao .Menu-Desktop .Desktop-Nav ul li a {
    margin-right: 1rem;
  }
}

@media (min-width: 1100px) {
  .Navegacao .Menu-Mobile {
    display: none;
  }
  .Navegacao .Menu-Desktop {
    display: flex;
  }
  .Navegacao .Menu-Desktop {
    height: 4.3rem;
  }
}

@media (min-width: 1100px) and (max-width: 1342px) {
  .Navegacao .Menu-Desktop {
    padding: 0.38rem 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .Navegacao .Menu-Mobile .menu-Icon .logo img {
    margin-left: 3rem;
  }
  .Navegacao .Menu-Mobile .menu-Icon .mIcon {
    padding: 0.5rem 3rem;
  }
}