
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--white);
    color:var(--btecDarkBlue);
    -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.13rem;
    font-weight: 400;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3.38rem;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3.0rem;
    font-weight: 600;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.38rem;
    font-weight: 500;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    font-weight: 500;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
