.programasSection {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 10rem;
  align-items: center;
}

.programasSection .PIBTec,
.programasSection .PMBTec {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 4rem;
}

.programasSection .PMBTec {
  margin-top: 6rem;
  text-align: right;
}

.programasSection .PIBTec img,
.programasSection .PMBTec img {
  width: 50rem;
  max-width: 50%;
}

.programasSection .PIBTec .info,
.programasSection .PMBTec .info {
  width: 40rem;
  max-width: 40%;
}

.programasSection .PIBTec .info p,
.programasSection .PMBTec .info p {
  margin: 1rem 0;
}

.programasSection button {
  color: var(--white);
  background-color: var(--btecBlue);
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

@media (max-width: 1667px) {
  .programasSection{
      padding: 2.5rem 5rem;
  }
}