.etapas.PMBTec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100dvh;
  padding: 2rem 0 1rem 0;
}

.etapas.PMBTec .etapaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.etapas.PMBTec .etapaCard .numeroEtapa {
  color: var(--btecLaranja);
  border: solid 0.1rem var(--btecLaranja);
  width: 4rem;
  text-align: center;
  border-radius: 50%;
}

.etapas.PMBTec .etapaCard .numeroEtapa.setaOn {
  margin-left: 4.3418rem;
}

.etapas.PMBTec .etapaCard .setaEtapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.etapas.PMBTec .etapaCard .setaEtapa span {
  color: var(--btecLaranja);
  font-size: 4rem;
  padding-right: 1rem;
}
.etapas.PMBTec .etapaCard .conteudoEtapa {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 12rem;
  margin-top: 0.05rem;
  min-height: 8rem;
  align-items: center;
  padding: 0.8rem;
  background-color: #d9d9d9;
  border-radius: 0.3rem;
}

.etapas.PMBTec .etapaCard .conteudoEtapa p {
  font-size: 1.4rem;
  margin: 0;
}

.facaParteComponent .pibtecDiv .div1 {
  display: none;
}

@media (max-width: 1644px) {
  .etapas.PMBTec .etapaCard .numeroEtapa {
    width: 3rem;
  }
  .etapas.PMBTec .etapaCard {
    padding: 0.5rem;
  }
  .etapas.PMBTec .etapaCard .setaEtapa span {
    padding-right: 0.5rem;
  }
  .etapas.PMBTec .etapaCard .numeroEtapa.setaOn {
    margin-left: 3.8418rem;
  }
}

@media (max-width: 1092px) {
  .etapas.PMBTec .etapaCard .setaEtapa span {
    display: none;
  }
  .etapas.PMBTec .etapaCard .numeroEtapa.setaOn {
    margin-left: 0rem;
  }

  .etapas.PMBTec  {
    gap: 1rem 2rem;
  }
}