.headerConteudos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 10rem 3rem;
  background-color: var(--btecBlue);
  color: var(--white);
}

.headerConteudos .titulo {
  display: flex;
  width: 50rem;
  max-width: 60%;
}

.headerConteudos img {
  width: 37rem;
  margin-left: 4rem;
  border-radius: 1rem;
}

@media (max-width: 1644px) {
  .headerConteudos img {
    max-width: 40%;
    margin-left: 2rem;
  }
  .headerConteudos .titulo {
    max-width: 55%;
  }
}

@media (max-width: 1126px) {
  .headerConteudos img {
    display: none;
  }
  .headerConteudos .titulo {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1342px) {
  .headerConteudos {
    padding: 2rem 3rem 3rem;
  }
}

@media (max-width: 767px) {
  .headerConteudos {
    padding: 1.25rem 2rem 2rem;
  }
}