.sectionAgenda {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 2.5rem 10rem;
}

.sectionAgenda  .agenda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 95rem;
    margin: 3rem auto 2rem;
}

.sectionAgenda .agenda iframe {
    border-radius: 0.3rem;
    width:100%;
    border: 0.12rem solid var(--btecBlue);
    height:35rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 1644px) {
    .sectionAgenda .agenda iframe {
        height:25rem;
    }
}

@media (max-width: 1342px) {
    .sectionAgenda {
      padding: 2.5rem 3rem;
    }
}

@media (max-width: 767px) {
    .sectionAgenda {
      padding: 2.5rem 2rem;
    }
    
}