.HeaderPMBTec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 10rem 3rem;
  background-color: var(--btecBlue);
  color: var(--white);
}

.HeaderPMBTec .TextoPMBTec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50rem;
  max-width: 50%;
}

.botaoInscricao{
  background-color: var(--btecLaranja);
    width: 12rem;
    color: var(--white);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 450;
    cursor: pointer;
    text-align: center;
}

.HeaderPMBTec img {
  max-width: 40%;
  margin-left: 4rem;
  border-radius: 1rem;
}

@media (max-width: 1465px) {
  .HeaderPMBTec img {
    max-width: 46%;
    margin-left: 1.5rem;
  }
}