.footer{
    background-color: var(--btecBlue);
    height: 15.6rem;
    width: 100%;
    padding: 0 10rem;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}
.logoContato{
    display: flex;
    align-items:last baseline;
}

.logo{
    width: 10rem;
    
}

.divContatos{
    margin-bottom:5.1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.divContatos .icons{
    display: flex;
    justify-content: space-between;
    
}

.divEndereco{
    background-color: var(--btecLaranja);
    width: 50%;
    height: 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divEndereco div{
    width: 90%;
}

.titulo{
    font-weight: bold;
}

@media (max-width: 1388px) {
    .divEndereco{
        width: 100%;
    }
    
}
@media (max-width: 1342px) {
    .footer{
        padding: 0rem 3rem;
    }
}
@media  (max-width: 1012px){
    .footer{
        height: 10rem;
        align-items: center;
    }
    .logoContato{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }
    
    .divEndereco div{
        display: none;
    }
    .divEndereco{
        display: none;
    }
    .divContatos{   
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0rem;
    }
}

  @media (max-width: 767px) {
    .footer {
      padding: 2rem 2rem;
    }
  }
  