.headerBtec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33rem;
    max-height: 40dvh;
    padding: 0 10rem;
    background-color: var(--btecBlue);
    color: var(--white);
}

.headerBtec .titulo {
    display: flex;
    max-width: 60%;
}

.headerBtec img {
    margin-left:1rem ;
    max-width: 35%;
    width: 45rem;
}

@media (max-width: 1667px) {
    .headerBtec{
        padding: 0 5rem;
    }
}